<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Novea2._0.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Licensing" publicKeyToken="632609b4d040f6b4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-21.2460.8.0" newVersion="21.2460.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="OpenTK.GLControl" publicKeyToken="bad199fe84eb3df4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.3.0" newVersion="3.3.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="OpenTK" publicKeyToken="bad199fe84eb3df4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.3.0" newVersion="3.3.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
    <connectionStrings>
		<add name="QuanLyBanHangNoveaEntities" connectionString="metadata=res://*/Model.QuanLyBanHangNovea.csdl|res://*/Model.QuanLyBanHangNovea.ssdl|res://*/Model.QuanLyBanHangNovea.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=noveaserver.database.windows.net;initial catalog=QuanLyBanHangNovea;persist security info=True;user id=noveaadmin;password=novea123@;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
    <userSettings>
        <Novea2._0.Properties.Settings>
            <setting name="Store_username" serializeAs="String">
                <value />
            </setting>
            <setting name="Store_password" serializeAs="String">
                <value />
            </setting>
            <setting name="Store_isChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Client_username" serializeAs="String">
                <value />
            </setting>
            <setting name="Client_password" serializeAs="String">
                <value />
            </setting>
            <setting name="Client_isChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Admin_username" serializeAs="String">
                <value />
            </setting>
            <setting name="Admin_password" serializeAs="String">
                <value />
            </setting>
            <setting name="Admin_isChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Shipper_username" serializeAs="String">
                <value />
            </setting>
            <setting name="Shipper_password" serializeAs="String">
                <value />
            </setting>
            <setting name="Shipper_isChecked" serializeAs="String">
                <value>False</value>
            </setting>
        </Novea2._0.Properties.Settings>
    </userSettings>
</configuration>